<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveItem()" *ngIf="!isLoading">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            formControlName="title"
            placeholder="Item Title">
            <mat-error *ngIf="form.get('title').invalid">Please Enter a Valid Item Title!</mat-error> 
        </mat-form-field>
        <div>
            <button mat-stroke-button type="button" (click)="imagePicker.click()">
                Select an Image
            </button>
            <input type="file" #imagePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field>
            <textarea 
            matInput 
            rows="4" 
            formControlName="content"
            placeholder="Item Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please Enter Valid Item Content!</mat-error> 
            <button mat-raised-button color="accent" type="submit">Save Item</button>   
        </mat-form-field>
    </form>
</mat-card>
<p>{{  newItem  }}</p>
